*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: auto;
  &.dark {
    color-scheme: dark;
  }
}

.v-card--variant-elevated:not(.v-card--flat) {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.v-theme--light {
  &.v-icon--clickable,
  &.v-btn--icon {
    color: rgba(0, 0, 0, 0.54);
  }
  --v-border-opacity: 0.09 !important;
  --v-theme-background: 243, 243, 243 !important;
}

.v-app-bar,
.v-navigation-drawer,
.v-footer,
.v-card,
.v-list-item {
  background-color: rgb(var(--v-theme-secondary)) !important;
}

.v-overlay__content > .v-card {
  overflow-y: overlay !important;
}

.v-btn {
  text-transform: none !important;
}

.v-btn.secondary-btn > .v-btn__content {
  font-weight: bold;
}

.v-tab {
  border-radius: 0 !important;
}

.v-field--focused {
  .v-icon {
    color: rgb(var(--v-theme-primary));
  }
}

.v-icon svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}

.v-breadcrumbs {
  color: #000000;
}

.speed-dial {
  position: fixed;
  bottom: 34px;
  right: 80px;
}

.v-speed-dial__content {
  position: fixed;
  bottom: 82px;
  right: 28px;
}

.checkpoint-form {
  position: fixed;
  bottom: 34px;
  right: 28px;
}

.v-btn-group {
  border-width: 2px !important;
}

.v-list-item-title.list {
  line-height: 1.2 !important;
  max-width: 242px;
  white-space: normal !important;
}

.v-rating {
  display: initial !important;
}
